
/*  test_tasks TASKS.SQL 
    DATABASE: test_tasks
    user: test-tasks-db
*/

use [test_tasks];

/* 1 сессии */

SELECT * FROM sessions

/* 2 пользователи */
SELECT * FROM users

/* 3 задачи */
SELECT * FROM tasks